<h1>Service Providers</h1>

  <% @services.each do |s| %>
  <table>
  <tr>
    <th> Category </th>
    <th> Service </th>
  </tr>
  <tr>
      <td><%= s.category %></td>
      <td><%= s.name %></td>
      <%begin%>
        <td><%= link_to 'Show', service_path(s) %></td> 
      <%end%>
    </tr>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Description</th>
    <th></th>
  </tr>
 
  <% s.professionals.each do |pro| %>
    <tr>
      <td><%= pro.first_name %></td>
      <td><%= pro.last_name %></td>
      <td><%= pro.description %></td>
      <%
=begin%>
 <td><%= link_to 'Show', professional_path(pro) %></td> 
<%
=end%>
    </tr>
  <% end %>
</table>
</table>
<% end %>