<div class="register-div container">
  <%= form_with scope: :service, url: services_path, local: true do |form| %>

  <div class="text-center">
    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Register</strong></h3>

  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm">
        <%= form.label :'First Name' %>
        <%= form.text_field :first_name, class: "f1-first-name form-control", id:"f1-last-name"%>
      </div>
      <div class="col-sm">
        <%= form.label :'Last Name' %>
        <%= form.text_field :last_name, class:"f1-last-name form-control", id:"f1-last-name"%>
      </div>
    </div>
    <p class="font-small blue-text d-flex justify-content-end">
      <div class="row">
        <div class="col-sm">
          <%= form.label :email %>
          <%= form.text_field :email, class:"form-control validate" %>
        </div>
        <div class="col-sm">
          <%= form.label :password %>
          <%= form.password_field :password, class:"form-control validate" %>
        </div>
        <div class="col-sm">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, class:"form-control validate" %>
        </div>
      </div>
      <p class="font-small blue-text d-flex justify-content-end">
        <div class="row">
          <div class="col-sm">
            <%= form.label :'About yourself. This acts as your resume, tell us about your experience, target audience...' %>
            <%= form.text_area :description, class:"f1-about-yourself form-control", id:"f1-about-yourself"%>
          </div>
        </div>
        <p class="font-small blue-text d-flex justify-content-end">
          <div class="row">
            <div class="col-sm">
              <%= form.label :category %>
              <%=  form.collection_select :category, Service.categories.map{ |a| [a.first,a.second] },  :first, :second, {class: "dropdown-menu"} %>
            </div>
            <div class="col-sm">
              <%= form.label :'Service' %>
              <%= form.text_area :name,class:"form-control" %>
            </div>

          </div>
          <p class="font-small blue-text d-flex justify-content-end">
            <div class="text-center mb-3">
              <%= button_tag "Let's poWow", :class => 'btn btn-outline-primary z-depth-1a',:name => nil%>


            </div>

            <% end %>
  </div>
</div>