
<%= form_with scope: :service, url: services_path, local: true do |form| %>
  
  <div class="field">
  <%= form.label :category %><br>
  <%=  form.collection_select :category, Service.categories.map{ |a| [a.first,a.first] },  :first, :second %>
  </div>

  <p>
    <%= form.label :'Service' %><br>
    <%= form.text_area :name %>
  </p>


  <%
=begin%>
 <h2>Add a professional:</h2>
  <p>
    <%= form.label :'First Name' %><br>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :'Last Name' %><br>
    <%= form.text_field :last_name %>
  </p>
  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description %>
  </p> 
<%
=end%>
  <p>
    <%= form.submit %>
  </p>
<% end %>