<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header pw-page__header--bg1">
    <div class="container">
      <h1 class="pw-page__title"><%= @service.category %> Powows</h1>
      <p class="pw-page__desc">Find professionals <%= @service.name %></p>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- Breadcrumb -->
    <div class="pw-breadcrumb">
      <div class="container">
        <ul class="pw-breadcrumb__list">
          <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
          <li class="pw-breadcrumb__list-item"><a href="/services">Powows</a></li>
          <li class="pw-breadcrumb__list-item"><span><%= @service.category %></span></li>
        </ul>
      </div>
    </div>

    <!-- Professionals List  -->
    <div class="container">
      <% if @service.professionals.count > 0 %>
      <ul class="pw-professionals-list row">
        <% @service.professionals.each do |pro| %>
        <li class="pw-professionals-list__item col-sm-12 col-lg-6">
          <div class="pw-professionals-list__card">
            <div class="row">
              <div class="col-sm-4">
                <div class="pw-img-wrap pw-img-wrap--professional">
                  <img class="pw-professionals-list__card-img pw-img pw-img--res" src="<%= asset_path "#{@service.category}.png" %>" alt="<%= @service.category%>">
                </div>
              </div>
              <div class="col-sm-8">
                <h2 class="pw-professionals-list__card-title" ><%= pro.first_name %> <%= pro.last_name %></h2>
                <p class="pw-professionals-list__card-desc"><%= pro.description%></p>
                <%= link_to "Details", service_professional_path(id: pro.id, service_id: pro.service_id), class: 'btn btn-outline-primary' %>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <%else %>
      <div class="text-center jumbotron">No professionals providing this service, yet!</div>
      <%end%>


      <%= link_to "All Powows", services_path, class: 'pw-btn pw-btn--default btn' %>
    </div>

  </div>
</section>