
<p>
  
  <strong>Category:</strong>
  <%= @service.category %>
</p>
 <strong>Service:</strong>
  <%= @service.name %>
</p>

<h2>Professionals</h2>
<% @service.professionals.each do |pro| %>
  <p>
    <strong>First Name:</strong>
    <%= pro.first_name %>
  </p>
   <p>
    <strong>Last Name:</strong>
    <%= pro.last_name %>
  </p>
 <p>
    <strong>Description:</strong>
    <%= pro.description %>
  </p>
<% end %>
 
<%
=begin%>
 <%= link_to 'Edit', edit_service_path(@service) %> | 
<%
=end%>
<%= link_to 'All Services', services_path %>
