<div class="container register-div">
  <div class="container text-center">
    <h1 class="jumbotron-heading"><%= @service.category %> Services</h1>
    <hr class="my-4">
    <p class="lead text-muted">Find a professionals <%= @service.name %></p>
  </div>
<main role="professionals" class="container">
<% if @service.professionals.count > 0 %>
 <div class="row text-center">
    <% @service.professionals.each do |pro| %>
      <div class="col">
        <p class="font-small blue-text d-flex justify-content-end">
        <div class="card" style="width:300px;">
        <%= image_tag "#{@service.category}.png", class:"card-img-top" %>
          <div class="card-body" style="text-align:center;">
            <h4 class="card-title" ><%= pro.first_name %> <%= pro.last_name %></h4>
            <p class="card-text"><%= pro.description%></p>
            <%= link_to "Details", service_professional_path(id: pro.id, service_id: pro.service_id), class: 'btn btn-outline-primary' %>
          </div>
            
        </div>
        <p class="font-small blue-text d-flex justify-content-end">
        </div>


      
    <% end %>
</div>
<%else %>
<div class="row text-center jumbotron">
  No professionals providing this service, yet!
</div>
<%end%>
<br />
<%= link_to "All Services", services_path, class: 'pw-btn pw-btn--default btn' %>
</main>
</div>
