<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header">
    <div class="container">
      <h1 class="pw-page__title">Sign in</h1>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin  ">
    <div class="container">

      <div class="row justify-content-lg-center">

        <!-- Form -->
        <div class="pw-form mb-5 col-lg-6">
          <div class="pw-form__social mb-5">
            <a href="/auth/linkedin" class="btn pw-btn pw-btn--social pw-btn--social--linkedin">Sign in with <b>LinkedIn</b></a>
            <a href="/auth/facebook" class="btn pw-btn pw-btn--social pw-btn--social--facebook">Sign in with <b>Facebook</b></a>
            <a href="/auth/google_oauth2" class="btn pw-btn pw-btn--social pw-btn--social--google">Sign in with <b>Google</b></a>
          </div>
          <div class="or-seperator"><i>or</i></div>
          <%= form_tag sessions_path do |form| %>
          <div class="pw-form__group">
            <div class="md-form">
              <label data-error="wrong" data-success="right" for="Form-email1">Email</label>
              <%= text_field_tag :email,"", placeholder: "@gmail.com" ,class:'form-control validate' %>
            </div>
          </div>
          <div class="pw-form__group">
            <div class="md-form">
              <label data-error="wrong" data-success="right" for="Form-pass1">Password</label>
              <%= password_field_tag :password, "" ,class:'form-control validate' %>
            </div>
          </div>
          <div class="pw-form__group">
            <a href="" class="pw-link">Forgot Password?</a>
          </div>
          <div class="pw-form__footer">
            <div class="d-table mx-auto">
              <%= submit_tag "Sign In", class: "btn pw-btn pw-btn--submit"%>
            </div>

            <p class="mt-4 d-flex justify-content-end">Not a member? <a href=<%= signup_path %> class="pw-link ml-1">Sign Up</a></p>
          </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>