<div class="pw-form mb-5">
  <%= form_with scope: meeting, url: meetings_path, local: true do |form| %>

    <% if meeting.errors.any? %>
      <div class="pw-feedback-msg" id="error_explanation">
        <div class="pw-feedback-msg__title"><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</div>
        <p class="pw-feedback-msg__desc">
          <ul>
            <% meeting.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </p>
      </div>
    <% end %>

    <input type="hidden" name="pro" value="<%= @meeting.professional.id %>">
    <%= form.hidden_field :start_time %>
    <%= form.hidden_field :end_time %>

    <!-- Calendar -->
    <div class="pw-calendar pw-calendar--meeting">

      <!-- Calendar - schedule table -->
      <%= month_calendar do |date| %>
        <% if (date.year >= DateTime.now.year and date.month > DateTime.now.month || date.year >= DateTime.now.year and date.month > DateTime.now.month || date.year == DateTime.now.year and date.month == DateTime.now.month and date.day >= DateTime.now.day) %>
          <input class="pw-calendar-radio sr-only" id="pw-calendar-opt<%= date %>" type="radio" name="selected_date" value="<%= date %>" required>
          <label for="pw-calendar-opt<%= date %>" class="pw-btn pw-btn--calendar btn waves-effect"><%= date.day %></label>
        <% else %>
          <span class="pw-calendar__not-selectable"></span>
          <%= date.day %>
        <% end %>
      <% end %>

      <!-- Calendar - available times list regaarding the selected day -->
      <div class="pw-calendar-times" style="display: none;">
        <div class="pw-form__title">Available time blocks <span id="pw-calendar-selected-date"></span>:</div>
        <div class="pw-form__group">
          <ul class="row pw-calendar-times__list">
            <li class="col-md-3">
              <div class="pw-calendar-times__item">
                <%= form.radio_button :selected_time, '10:00-11:00', :required => true, :class => 'pw-calendar-radio' %>
                <%= form.label :selected_time, '10:00 - 11:00', :value => '10:00-11:00', :class => 'pw-btn pw-btn--calendar btn waves-effect' %>
              </div>
            </li>
            <li class="col-md-3">
              <div class="pw-calendar-times__item">
                <%= form.radio_button :selected_time, '11:00-12:00', :required => true, :class => 'pw-calendar-radio' %>
                <%= form.label :selected_time, '11:00 - 12:00', :value => '11:00-12:00', :class => 'pw-btn pw-btn--calendar btn waves-effect' %>
              </div>
            </li>
            <li class="col-md-3">
              <div class="pw-calendar-times__item">
                <%= form.radio_button :selected_time, '14:00-15:00', :required => true, :class => 'pw-calendar-radio' %>
                <%= form.label :selected_time, '14:00 - 15:00', :value => '14:00-15:00', :class => 'pw-btn pw-btn--calendar btn waves-effect' %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </span>
    
    
    <div class="pw-form__footer">
      <%= link_to 'Back', meetings_path, :class => 'pw-btn btn waves-effect' %>
      <%= button_tag "Schedule meeting", :class => 'pw-btn pw-btn--submit btn waves-effect', :name => nil %>
    </div>
  <% end %>
</div>





<!--OLD Version - just to use as a guide
<%= form_with(model: meeting, local: true) do |form| %>

  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= hidden_field_tag(:pro,  meeting.professional.id) %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>-->
