<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header">
    <div class="container">
      <h1 class="pw-page__title">Upcoming Meetings</h1>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">
    <div class="container">

      <!-- Feedback message -->
      <p id="notice"><%= notice %></p>

      <!-- Table -->
      <table class="pw-table table table-striped table-responsive-md btn-table">
        <thead>
          <tr>
            <th>Professional</th>
            <th>Name</th>
            <th>Start time</th>
            <th>End time</th>
            <th colspan="3"><span class="sr-only">Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <% !@meetings.nil? && @meetings.each do |meeting| %>
            <tr>
              <td><%= meeting.professional.first_name %> <%= meeting.professional.last_name %></td>
              <td><%= meeting.name %></td>
              <td><%= meeting.start_time %></td>
              <td><%= meeting.end_time %></td>
              
              <td> <a href="<%= meeting_path(meeting) %>" class="pw-btn pw-btn--default btn">Let's poWow</a> </td>
              <td> <a href="<%= edit_meeting_path(meeting) %>" class="pw-btn pw-btn--edit btn">Edit</a> </td>
              <td><%= link_to 'Cancel Meeting', meeting, method: :delete, class: 'pw-link', data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</section>