<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header">
    <div class="container">
      <h1 class="pw-page__title">New Meeting</h1>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- Breadcrumb -->
    <div class="pw-breadcrumb">
      <div class="container">
        <ul class="pw-breadcrumb__list">
          <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
          <li class="pw-breadcrumb__list-item"><a href="/meetings">Meetings</a></li>
          <li class="pw-breadcrumb__list-item"><span>New meeting</li>
        </ul>
      </div>
    </div>

    <div class="container">
      
      <!--<%= link_to "Start the meeting", @meeting, :class => 'pw-btn pw-btn--default btn waves-effect' %>-->


      <%= form_with scope: :meeting, url: meetings_path, local: true do |form| %>

        <!-- Calendar -->
        <div class="pw-calendar pw-calendar--meeting">
          <%= month_calendar do |date| %>
            <% if date.year >= DateTime.now.year and date.month > DateTime.now.month || date.year >= DateTime.now.year and date.month > DateTime.now.month || date.year == DateTime.now.year and date.month == DateTime.now.month and date.day >= DateTime.now.day %>
              <input class="pw-calendar-radio sr-only" id="pwCalendarOpt<%= date.day %>" type="radio" name="start_time"><label for="pwCalendarOpt<%= date.day %>" class="pw-btn pw-btn--calendar btn waves-effect"><%= date.day %></label>
            <%else%>
              <%= date.day %>
            <%end%>
          <% end %>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="pw-form__group">
              <div class="md-form">
                <%= form.label :'Start time' %>
                <%= form.text_field :first_name ,  class:'form-control validate' %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pw-form__group">
              <div class="md-form">
                <%= form.label :'End time' %>
                <%= form.text_field :last_name ,  class:'form-control validate' %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pw-form__footer">
          <%= link_to 'Back', meetings_path, :class => 'pw-btn btn waves-effect' %>
          <%= button_tag "Create", :class => 'pw-btn pw-btn--submit btn waves-effect', :name => nil %>
        </div>
      <% end %>





TEMP
      <!-- Form -->
      <%= render 'form', meeting: @meeting %>


    </div>
  </div>
</section>