<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header">
    <div class="container">
      <h1 class="pw-page__title">New Meeting</h1>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- Breadcrumb -->
    <div class="pw-breadcrumb">
      <div class="container">
        <ul class="pw-breadcrumb__list">
          <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
          <li class="pw-breadcrumb__list-item"><a href="/meetings">Meetings</a></li>
          <li class="pw-breadcrumb__list-item"><span>New meeting</li>
        </ul>
      </div>
    </div>

    <div class="container">
      
      <!--<%= link_to "Start the meeting", @meeting, :class => 'pw-btn pw-btn--default btn waves-effect' %>-->


      <%= form_with scope: :meeting, url: meetings_path, local: true do |form| %>

        <!-- Calendar -->
        <div class="pw-calendar pw-calendar--meeting">
          <%= month_calendar do |date| %>
            <% if (date.year >= DateTime.now.year and date.month > DateTime.now.month || date.year >= DateTime.now.year and date.month > DateTime.now.month || date.year == DateTime.now.year and date.month == DateTime.now.month and date.day >= DateTime.now.day) %>
              <input class="pw-calendar-radio sr-only" id="pwCalendarOpt<%= date.day %>" type="radio" name="selected_date" value="<%= date %>" required>
              <label for="pwCalendarOpt<%= date.day %>" class="pw-btn pw-btn--calendar btn waves-effect"><%= date.day %></label>
            <% else %>
              <%= date.day %>
            <% end %>
          <% end %>
        </div>

        <div class="pw-form-title">Available time blocks:</div>
        <div class="pw-form__group">
          <ul class="row">
            <li class="col-md-3">
              <div class="md-form">
                <%= form.label :start_time, '10:00 - 11:00', :value => '10:00' %>
                <%= form.radio_button :start_time, '10:00', :presence => true %>
              </div>
            </li>
            <li class="col-md-3">
              <div class="md-form">
                <%= form.label :start_time, '11:00 - 12:00', :value => '11:00' %>
                <%= form.radio_button :start_time, '11:00', :presence => true %>
              </div>
            </li>
            <li class="col-md-3">
              <div class="md-form">
                <%= form.label :start_time, '14:00 - 15:00', :value => '14:00' %>
                <%= form.radio_button :start_time, '14:00', :presence => true %>
              </div>
            </li>
          </ul>
        </div>
        
        
        <div class="pw-form__footer">
          <%= link_to 'Back', meetings_path, :class => 'pw-btn btn waves-effect' %>
          <%= button_tag "Schedule meeting", :class => 'pw-btn pw-btn--submit btn waves-effect', :name => nil %>
        </div>
      <% end %>





TEMP
      <!-- Form -->
      <%= render 'form', meeting: @meeting %>


    </div>
  </div>
</section>