<% if current_user && current_user.role =='pro' %>
<div class="container-div">
  <meet id="meet">
</div>

<%= javascript_tag do %>
<%# const domain = "ec2-3-80-130-47.compute-1.amazonaws.com"; %>
const domain = "meetings.powow.ca"
const options = {
roomName: "<%= @meeting.room  %>",
width: 1280,
height: 720,
parentNode: document.querySelector('meet'),
interfaceConfigOverwrite: {
filmStripOnly: false,
SHOW_JITSI_WATERMARK: false,
JITSI_WATERMARK_LINK: 'http://powow.ca',
SHOW_WATERMARK_FOR_GUESTS: false,
HIDE_KICK_BUTTON_FOR_GUESTS: true
},
configOverwrite: {
disableSimulcast: false,
lockRoomGuestEnabled: true,
liveStreamingEnabled: false
},
};

const api = new JitsiMeetExternalAPI(domain, options);

api.executeCommand('displayName', "<%= @meeting.professional.first_name%>");
setTimeout(() => {
api.addEventListener('videoConferenceJoined', (response) => {
api.executeCommand('password', "<%= @meeting.password%>");
});

}, 10);

api.addEventListener('videoConferenceLeft', () => {window.location.href = "/meetings";})

<% end %>
<% end %>
<% if current_user && current_user.role =='client' %>
<div class="container-div">
  <iframe src="https://meetings.powow.ca/<%= @meeting.room  %>" allow="camera;microphone" width="1280" height="720"> </iframe>
</div>
<% end %>