<% if current_user && current_user.role =='pro' %>
<!-- Page Section -->
<div class="pw-page">

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-header">

    <!-- Breadcrumb -->
    <div class="pw-breadcrumb">
      <div class="container">
        <ul class="pw-breadcrumb__list">
          <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
          <li class="pw-breadcrumb__list-item"><a href="/meetings">Meetings</a></li>
          <li class="pw-breadcrumb__list-item"><span>Meeting <%= @meeting.room  %></span></li>
        </ul>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-8">

          <!-- VideoCall section -->
          <meet id="meet">
        </div>
        <div class="col-md-4">

          <!-- VideoCall info section -->
          <div class="pw-videocall-info">
            <div class="pw-vieocall-info-item">
              Meeting ID: <%= @meeting.room  %>
            </div>
            <div class="pw-vieocall-info-item">
              Mentor: <%= @meeting.professional.first_name%>
            </div>
            TODO - relevant info
          </div>

        </div>
      </div>

    </div>
  </div>
</div>




<%= javascript_tag do %>
<%# const domain = "ec2-3-80-130-47.compute-1.amazonaws.com"; %>
const domain = "meetings.powow.ca"
const options = {
roomName: "<%= @meeting.room  %>",
width: 600,
height: 600,
parentNode: document.querySelector('meet'),
interfaceConfigOverwrite: {
filmStripOnly: false,
SHOW_JITSI_WATERMARK: false,
JITSI_WATERMARK_LINK: 'http://powow.ca',
SHOW_WATERMARK_FOR_GUESTS: false,
HIDE_KICK_BUTTON_FOR_GUESTS: true
},
configOverwrite: {
disableSimulcast: false,
lockRoomGuestEnabled: true,
liveStreamingEnabled: false
},
};

const api = new JitsiMeetExternalAPI(domain, options);

api.executeCommand('displayName', "<%= @meeting.professional.first_name%>");
setTimeout(() => {
api.addEventListener('videoConferenceJoined', (response) => {
api.executeCommand('password', "<%= @meeting.password%>");
});

}, 10);

api.addEventListener('videoConferenceLeft', () => {window.location.href = "/meetings";})

<% end %>
<% end %>
<% if current_user && current_user.role =='client' %>
  <iframe src="https://meetings.powow.ca/<%= @meeting.room  %>" allow="camera;microphone" width="100%" height="720"> </iframe>
<% end %>