<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your upcoming poWow detials with , <%= @pro.first_name %> <%= @pro.last_name %></h1>
    <p>
      From : <%= @meeting.start_time %> To:  <%= @meeting.end_time %> </br> 
      Please click on link to get started at <%= @meeting.start_time %><br>
    </p>
    <p>Enjoy your powow!</p>
  </body>
</html>