<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header pw-page__header--bg2">
    <div class="container">
      <h1 class="pw-page__title">Editing Profile</h1>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- Breadcrumb -->
    <div class="pw-breadcrumb">
      <div class="container">
        <ul class="pw-breadcrumb__list">
          <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
          <li class="pw-breadcrumb__list-item"><a href="/professionals/<%=@professional.id%>"><%=@professional.first_name%> <%=@professional.last_name%></a></li>
          <li class="pw-breadcrumb__list-item"><span>Editing profile</li>
        </ul>
      </div>
    </div>

    <!-- Services List -->
    <div class="container">
      <div class="row">
        <div class="pw-form mb-5 col-lg-8">

          <%= form_with scope: :professional, url: service_professionals_path, local: true do |form| %>

            Avatar
<br>
            Public/private profile
<br>
            Location
<br>
            Timezone

            <div class="row">
              <div class="col-md-6">
                <div class="pw-form__group">
                  <div class="md-form">
                    <%= form.label :'First Name' %>
                    <%= form.text_field :first_name ,  class:'form-control validate' %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="pw-form__group">
                  <div class="md-form">
                    <%= form.label :'Last Name' %>
                    <%= form.text_field :last_name ,  class:'form-control validate' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="pw-form__group">
              <div class="md-form">
                <%= form.label :Description %> 
                <%= form.text_area :description ,  class:'md-textarea form-control validate' %>
              </div>
            </div>
            
            <div class="pw-form__footer">
              <!--<%= form.submit %>-->
              <%= button_tag "Back", :class => 'pw-btn btn waves-effect', type: 'button' %>
              <%= button_tag "Update", :class => 'pw-btn pw-btn--submit btn waves-effect', :name => nil %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</section>




TODO
<!--
<div class="container div-padding">
<%= form_with scope: :professional, url: service_professionals_path, local: true do |form| %>
<div class="modal-dialog" role="document">
<div class="modal-content form-elegant">

<div class="modal-header text-center">
  <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">Editing Profile: <%=@professional.first_name%> <%=@professional.last_name%></h3>

</div>

<div class="modal-body mx-4">

  <div class="md-form mb-5">
  <%= form.label :'First Name' %>
     
  <%= form.text_field :first_name ,  class:'form-control validate' %>
    
  </div>

  <div class="md-form mb-5">
  <%= form.label :'Last Name' %>
  <%= form.text_field :last_name ,  class:'form-control validate' %>
    
  </div>

  <div class="md-form mb-5">
  <%= form.label :Description %> 
  <%= form.text_area :description ,  class:'form-control validate' %>
    
  </div>

  <p class="font-small blue-text d-flex justify-content-end">
  <div class="text-center mb-3">
  <%= button_tag "Save", :class => 'btn blue-gradient btn-block btn-rounded z-depth-1a',:name => nil%>  
  
    
  </div>
  
</div>
</div>

</div>

</div>

<% end %>
</div>-->