<!-- Page Content -->

<div class="container div-padding">
  <% if  @professional.nil?%>
  <div> Unauthorized </div>
  <%else%>
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
      Your image goes here
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light"><%= @professional.first_name %> <%= @professional.last_name %></h1>
      <p class="font-small blue-text d-flex justify-content-end"> </p>
      <% if current_user &&  current_user.role !='pro'%>
      <a class="btn btn-outline-primary a-" href="/meetings/new?pro=<%= @professional.id%>">Book a meeting</a>
      <%else%>
      <a class="btn btn-outline-primary a-" href="/meetings/new?pro=<%= @professional.id%>" onclick="return false;">Book a meeting</a>
      <%end%>
      <% if current_user && current_user.id == @professional.user_id  && current_user.role =='pro'%>
      <a class="btn btn-outline-primary a-" href="<%=edit_service_professional_path(service_id: current_user.professionals.first.service_id, id: current_user.professionals.first.id) %>">Edit Profile</a>
      <%end%>
    </div>

    <div class="col-lg-5">

    </div>

    <!-- /.col-md-4 -->
  </div>
  <% if current_user && current_user.id == @professional.user_id &&  current_user.role =='pro'%>
  <div class="row">
    <div class="col-4">
      <a class="card-text btn btn-outline-primary" href="https://connect.stripe.com/express/oauth/authorize?client_id=<%= @client_id %>&state=<% @professional.stripe_state %>&suggested_capabilities[]=transfers&stripe_user[email]=<%= current_user.email %>">Connect to stripe</a>
    </div>
    <!-- Call to Action Well -->
    <div class="col-4">
      <%= link_to "Add Products", new_product_path(:pro => @professional) , class: "card-text btn btn-outline-primary"%>
    </div>
  </div>
  <%end%>
  <!-- /.row -->
  <div class="row">
    <% if @products.count < 1 %>
    <div class="col-6 album py-5 bg-white">
      <div class="card text-center  pro-card">
        <div class="card-header">
          Sample Product - After School Activities
        </div>
        <div class="card-body">
          <h5 class="card-title card-text">Keeps your kids learning after school </h5>
          <p class="card-text">Key takeaways:</p>
          <p class="card-text">Provide entertainment or keep them occupied</p>
          <p class="card-text">Help answer questions in your area of expertise</p>
          <p class="card-text">Help your customers acquire a new skill </p>
          <a class="btn btn-outline" href="" onclick="return false;">Buy for $20.00 </a>
        </div>
        <div class="card-footer ">
          <p class="card-text">Your target audience - Parents looking to keep their kids occupied</p>
        </div>
      </div>
    </div>
    <%end%>

    <% @products.each do |product| %>

    <div class="col-6 album py-5 bg-white">
      <div class="card text-center  pro-card">
        <div class="card-header">
          <%= product.name %>
        </div>
        <div class="card-body ">
          <h5 class="card-title"><%= product.summary%></h5>
          <p class="card-text"><%= product.description %></p>
          <% if current_user && @professional.stripe_user_id%>
          <%= link_to "Buy for #{ product.price  }", stripe_connect_path( :product => product) , class:"btn btn-primary"%>
          <% else %>
          <a class="btn btn-outline" href="" onclick="return false;">Buy for <%=product.price%> </a>
          <%end%>
        </div>
        <div class="card-footer text-muted">
          <p class="card-text"><%= product.target_audience%></p>
        </div>
      </div>
    </div>
    <%end%>
  </div>

  <!-- /.row -->
  <%end%>
</div>
<!-- /.container -->