<% if  @professional.nil?%>
<div> Unauthorized </div>
<%else%>

<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header pw-page__header--bg2 pw-professional-header">
    <div class="container">

      <!-- Breadcrumb -->
      <!--<div class="pw-breadcrumb">
        <div class="container">
          <ul class="pw-breadcrumb__list">
            <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
            <li class="pw-breadcrumb__list-item"><a href="/services">Powows</a></li>
            <li class="pw-breadcrumb__list-item"><span><%= @professional.first_name %> <%= @professional.last_name %></span></li>
          </ul>
        </div>
      </div>-->

      <div class="row">
        <div class="col-sm-2">
          <img class="pw-professional-header__picture pw-img pw-img--res" src="<%= @professional.user.linkedin_picture_url%>" alt="Profile picture">
        </div>
        <div class="col-sm-6">
          <h1 class="pw-page__title"><%= @professional.first_name %> <%= @professional.last_name %></h1>
          <div class="pw-professional-header__jobtitle">Math Professor at MIT</div>
          <div class="pw-professional-header__actions">
            <% if current_user &&  current_user.role !='pro'%>
            <a class="btn waves-effect pw-btn pw-btn--book" href="/meetings/new?pro=<%= @professional.id%>">Book a meeting</a>
            <%else%>
            <a class="btn waves-effect pw-btn pw-btn--book" href="/meetings/new?pro=<%= @professional.id%>" onclick="return false;">Book a meeting</a>
            <%end%>
            <% if current_user && current_user.id == @professional.user_id  && current_user.role =='pro'%>
            <a class="btn waves-effect pw-btn pw-btn--default" href="https://connect.stripe.com/express/oauth/authorize?client_id=<%= @client_id %>&state=<%= @stripe_state %>&suggested_capabilities[]=transfers&stripe_user[email]=<%= current_user.email %>">Connect to stripe</a>
            <a class="btn waves-effect pw-btn pw-btn--book" href="<%=edit_service_professional_path(service_id: current_user.professionals.first.service_id, id: current_user.professionals.first.id) %>">Edit Profile</a>
            <%end%>
          </div>
        </div>
        <div class="col-sm-4 pw-professional-header__side-info">
          <div class="pw-professional-reputation">
            <span class="pw-professional-reputation__val">3425</span>
            <span class="pw-professional-reputation__lbl">in Community Reputation</span>
          </div>
          <ul class="pw-professional-metrics">
            <li class="pw-professional-metrics__item">
              <span class="pw-professional-metrics__val">5</span>
              <span class="pw-professional-metrics__lbl">Courses</span>
            </li>
            <li class="pw-professional-metrics__item">
              <span class="pw-professional-metrics__val">21</span>
              <span class="pw-professional-metrics__lbl">Given Classes</span>
            </li>
            <li class="pw-professional-metrics__item">
              <span class="pw-professional-metrics__val">342</span>
              <span class="pw-professional-metrics__lbl">Students Reached</span>
            </li>
          </ul>
          <div class="pw-professional-powows">
            <span class="pw-professional-powows__lbl">Powows</span>
            <ul class="pw-professional-powows__tags pw-tags">
              <li class="pw-tags__item pw-tags__item--consulting">Consulting</li>
              <li class="pw-tags__item pw-tags__item--coaching">Coaching</li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- Tabs -->
    <nav class="pw-tabs">
      <div class="container">
        <ul class="pw-tabs__menu">
          <li class="pw-tabs__item pw-tabs__item--active"><a href="" title="Active Services">Products</a></li>
          <li class="pw-tabs__item"><a href="" title="Professional and Academic Career">About</a></li>
          <li class="pw-tabs__item"><a href="" title="Timeline Activity">Activity</a></li>
          <li class="pw-tabs__item"><a href="" title="Unlocked Archivements">Archivements</a></li>
        </ul>
      </div>
    </nav>

    <!-- Services List -->
    <div class="container">

      <section class="pw-professional-section pw-professional-section--padded">
        <header class="pw-professional-section__header">
          <div class="row justify-content-between">
            <div class="col-sm-auto">
              <h2 class="pw-professional-section__title">Products</h2>
            </div>
            <div class="col-sm-auto">
              <% if current_user && current_user.id == @professional.user_id &&  current_user.role =='pro' && @products.count >= 1%>
                <div class="pw-professional-section__actions">
                  <%= link_to "Add Product", new_product_path(:pro => @professional) , class: "btn waves-effect pw-btn pw-btn--add"%>
                </div>
              <%end%>
            </div>
          </div>
        </header>

        <div class="pw-professional-section__content">
          
          <!-- Services - without services -->
          <% if @products.count < 1 %>
            No products available. 
            <% if current_user && current_user.id == @professional.user_id &&  current_user.role =='pro'%>
              <%= link_to "Add", new_product_path(:pro => @professional) , class: "pw-link pw-link--underline"%> your first <strong>product</strong>.
            <%end%>
          <%end%>


          <ul class="pw-products-list row">
            <% @products.each do |product| %>
            <li class="pw-products-list__item col-sm-6 col-lg-4">
              <div class="pw-products-list__card">
                <div class="pw-products-list__card-info">
                  <h3 class="pw-products-list__card-title"><%= product.name %></h3>
                  <p class="pw-products-list__card-cathegory"><%= product.target_audience %></p>
                  <p class="pw-products-list__card-desc"><%= product.summary %></p>
                  <div class="pw-products-list__card-buy">
                    <% if current_user && @professional.stripe_user_id %>
                    <%= link_to "Buy for #{ product.price  }", stripe_connect_path( :product => product) , class:"btn waves-effect pw-btn pw-btn--default" %>
                    <% else %>
                    <span><%= "Buy for #{ product.price  }"%></span>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
          
        </div>
      </section>

    </div>
  </div>
</section>
<%end%>