<!-- Page Section - Header -->
<header class="pw-page__header pw-page__header--bg1">
  <div class="container">
    <h1 class="pw-page__title">Become a Mentor</h1>
  </div>
</header>

<!-- Page Section - Content -->
<div class="pw-page__content pw-page__content--no-margin">

  <!-- Breadcrumb -->
  <div class="pw-breadcrumb">
    <div class="container">
      <ul class="pw-breadcrumb__list">
        <li class="pw-breadcrumb__list-item"><a href="/">Home</a></li>
        <li class="pw-breadcrumb__list-item"><span>Become a mentor</span></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">

        <!-- About section -->
        <section class="pw-generic-section mb-5">
          <header class="pw-generic-section__header">
            <h2 class="pw-generic-section__title">As a mentor you can</h2>
          </header>
          <div class="pw-pro-advantages">
            <div class="pw-pro-advantages__item pw-pro-advantages__item--prices">
              <p class="pw-pro-advantages__item-desc">Create your products and set your prices</p>
            </div>
            <div class="pw-pro-advantages__item pw-pro-advantages__item--schedule">
              <p class="pw-pro-advantages__item-desc">Everything works on your shcedule, allowing you to plan ahead of time</p>
            </div>
            <div class="pw-pro-advantages__item pw-pro-advantages__item--dashboard">
              <p class="pw-pro-advantages__item-desc">A dedicated dashboard to manage and promote your business</p>
            </div>
            <div class="pw-pro-advantages__item pw-pro-advantages__item--secure">
              <p class="pw-pro-advantages__item-desc">Secure account setup</p>
            </div>
            <div class="pw-pro-advantages__item pw-pro-advantages__item--deposit">
              <p class="pw-pro-advantages__item-desc">Direct deposit of your earning</p>
            </div>
            <div class="pw-pro-advantages__item pw-pro-advantages__item--subscribe">
              <p class="pw-pro-advantages__item-desc">Returning customers? No problem, customers can setup subscriptions to your products</p>
            </div>
          </div>
        </section>
      </div>

      <div class="col-lg-6">

        <section class="pw-generic-section pw-generic-section--modal mb-5">
          <header class="pw-generic-section__header">
            <h2 class="pw-generic-section__title">Sign in</h2>
          </header>

          <!-- Form -->
          <div class="pw-form">
            <div class="pw-form__social  mb-5">
              <a href="/auth/linkedin" class="btn pw-btn pw-btn--social pw-btn--social--linkedin">Sign in with <b>LinkedIn</b></a>
              <a href="/auth/facebook" class="btn pw-btn pw-btn--social pw-btn--social--facebook">Sign in with <b>Facebook</b></a>
              <a href="/auth/google_oauth2" class="btn pw-btn pw-btn--social pw-btn--social--google">Sign in with <b>Google</b></a>
            </div>
            <div class="or-seperator"><i>or</i></div>
            <%= form_tag sessions_path do |form| %>
            <div class="pw-form__group">
              <div class="md-form">
                <label data-error="wrong" data-success="right" for="Form-email1">Email</label>
                <%= text_field_tag :email,"", placeholder: "@gmail.com" ,class:'form-control validate' %>
              </div>
            </div>
            <div class="pw-form__group">
              <div class="md-form">
                <label data-error="wrong" data-success="right" for="Form-pass1">Password</label>
                <%= password_field_tag :password, "" ,class:'form-control validate' %>
              </div>
            </div>
            <div class="pw-form__group">
              <a href="" class="pw-link">Forgot Password?</a>
            </div>
            <div class="pw-form__footer">
              <div class="d-table mx-auto">
                <%= submit_tag "Sign In", class: "btn pw-btn pw-btn--submit"%>
              </div>

              <p class="mt-4 d-flex justify-content-end">Not a member? <a href=<%= signup_path %> class="pw-link ml-1">Sign Up</a></p>
            </div>
            <% end %>
          </div>
        </section>

      </div>

    </div>
  </div>
</div>
</section>