<main role="main">
  <section class="jumbotron text-center home-section">
    <div class="container-fluid">
    <%= image_tag "1.png" %>
      <h1 class="jumbotron-heading">Let's get through, together!</h1>
      <p class="lead text-white">In response to COVID-19, we decided to release this platform that allows you to connect with professionals, online!</p>
      <p>
        <% if current_user.nil? %>
          <a class="btn btn-outline-secondary text-white" href=<%= signup_path %>>Register as a client</a>
          <a href="services/new" class="btn btn-outline-secondary text-white my-2">Register as a professional</a>
        <%end%>
      </p>
      <%= form_tag(services_path, :method => "get",   
        class: 'navbar-form navbar-left') do %>  
      <div class="input-group">  
        <%= text_field_tag :search, params[:search], placeholder: "search", class: "form-control form-control" %>  
        <div class="input-group-btn">  
          <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
        </div>  
      </div>  
    <% end %>
    </div>
  </section>
  
  <div class="container">
  <div class="row">
        
        <div class="col-6" style="align:center;">
        <div class="card" style="width:500px;">
          <div class="card-body" style="text-align:center;">
            <h4 class="card-title" >For Clients</h4>
            <p class="card-text"></p>
            <a class="card-text" href=<%= signup_path %>>Step 1: Register as a client</a>
            <p class="card-text"></p>
            <p class="card-text">Step 2: Search for services</p>
            <p class="card-text">Step 3: Pick a professional to poWow</p>
          </div>
            
        </div>
        <p class="font-small blue-text d-flex justify-content-end">
        </div>

        <div class="col-6" style="align:center;">
        <div class="card" style="width:500px;">
          <div class="card-body" style="text-align:center;">
            <h4 class="card-title" >For Professionals/Hobbists</h4>
            <a href="services/new" class="card-text">Step 1: Register as a professional</a>
            <p class="card-text"></p>
            <p class="card-text">Step 2: Add your professional profile</p>
            <p class="card-text">Step 3: Wait for a meeting request to poWow</p>
          </div>
            
        </div>
        <p class="font-small blue-text d-flex justify-content-end">
        </div>
      
    </div>
  </div>

  <%= render "shared/services" %>
      

</main>
