<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header pw-home-header">
    <%# <h1 class="pw-page__title"> %>
    <%# <%= image_tag "logo_transparent.png", class:"pw-home-header-logo", alt:"Powow" %>
    <%# <span class="pw-sr-only">Powow</span> %>
    <%# </h1> %>
    <div class="container">
      <div class="pw-home-highlight">
        <h1 class="pw-home-highlight__title"><span class="pw-home-highlight__title-hl">Find mentors</span> <br>and level up your skills</h1>
        <p class="pw-home-highlight__desc">Pay per <strong>powow</strong> and effectively achieve fluency</p>
        
        <!-- Search form -->
        <%= form_tag(services_path, :method => "get", class: 'pw-main-search') do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "What do you want a mentor for?", class: "pw-main-search-input" %>
          <div class="input-group-btn">
            <%= button_tag "search", :class => 'pw-btn pw-btn--search btn material-icons',:name => nil%>
          </div>
        </div>
        <% end %>

        <p class="pw-home-highlight__caption"><strong>Powow</strong> - a conference or meeting for discussion</p>
      </div>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content pw-page__content--no-margin">

    <!-- About section -->
    <section class="pw-home-about pw-home-about--bg1">
      <div class="container">
        <header class="pw-home-about__header">
          <h2 class="pw-home-about__title">Why do you need a mentor? (this should be with illustration and how dumpling.us has it)</h2>
        </header>
        <p class="pw-home-about__desc">Achieve personal or professional career gains</p>
        <p class="pw-home-about__desc">Gain new perspectives and fresh ideas</p>
        <p class="pw-home-about__desc">Challenge yourself and accomplish more</p>
        <p class="pw-home-about__desc">Develop strategies and evaluate opportunities</p>
      </div>
    </section>

    <!-- Services section -->
    <section class="pw-home-about pw-home-about--bg3">
      <div class="container">
        <header class="pw-home-about__header mb-4">
          <h2 class="pw-home-about__title">Services</h2>
        </header>
        <%= render "shared/services" %>
      </div>
    </section>
  </div>
</section>