<!-- Page Section -->
<section class="pw-page">

  <!-- Page Section - Header -->
  <header class="pw-page__header pw-page__header--bg2">
    <div class="container">
      <h1 class="pw-page__title">New Product</h1>
    </div>
  </header>

  <!-- Page Section - Content -->
  <div class="pw-page__content">

    <!-- Services List -->
    <div class="container">
      <div class="row justify-content-lg-center">

        <!-- Form -->
        <div class="pw-form mb-5 col-lg-8">

          <%= form_with scope: :product, url: products_path, local: true do |form| %>
          
            <%=  @pro %>
            <div class="pw-form__group">
              <div class="md-form">
                <%= form.label :'Name' %>
                <%= form.text_field :name, class:'form-control' %>
              </div>
            </div>
            <div class="pw-form__group">
              <div class="md-form">
                <%= form.label :'Target Audience' %>
                <%= form.text_field :target_audience, class:'form-control' %>
              </div>
            </div>
            <div class="pw-form__group">
              <div class="md-form">
                <%= form.label :Description %>
                <%= form.text_area :description, class:'md-textarea form-control' %>
              </div>
            </div>
            <div class="pw-form__group">
              <div class="md-form">
                <%= form.label :'Summary' %>
                <%= form.text_area :summary, class:'md-textarea form-control' %>
              </div>
            </div>
            <div class="pw-form__group">
              <div class="md-form">
                <%= form.label :'Additional Details' %>
                <%= form.text_area :label, class:'md-textarea form-control' %>
                <%= form.text_area :details, class:'md-textarea form-control' %>
              </div>
            </div>
            <div class="pw-form__group">
              <div class="row">
                <div class="col-sm-4">
                  <div class="md-form">
                    <%= form.label :'Price' %>
                    <%= form.text_field :price, class:'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="pw-form__footer">
              <!--<%= form.submit %>-->
              <%= button_tag "Back", :class => 'pw-btn btn waves-effect', type: 'button' %>
              <%= button_tag "Add Product", :class => 'pw-btn pw-btn--submit btn waves-effect' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</section>