<!DOCTYPE html>
<html>

<head>
  <title>Powow | On demand e-service</title>
  <meta name="description" content="Create a digital presence and use your skills to monetize a global audience via live engagement">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src='https://meet.jit.si/external_api.js'></script>
  <script src="https://js.stripe.com/v3/"></script>
  <!--<script src="/assets/mdbootstrap/js/mdb.min.js"></script>-->
  <%= javascript_include_tag "mdb.min" %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

  <!-- Main Header -->
  <header class="pw-header">

    <!-- Top bar -->
    <nav class="pw-header-top-bar navbar navbar-expand-lg fixed-top">
      <div class="container">
        
        <!-- Logo -->
        <a href="/" class="pw-header-logo navbar-brand" title="Powow">
          <%= image_tag "powow-logo.svg", class:"pw-header-logo-img", alt:"Powow" %>
        </a>
        
        <!-- Hamburger Button -->
        <button class="pw-header-top-bar-toggler navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Collapse/uncollapse">
          <span class="material-icons">menu</span>
        </button>

        <div class="pw-header-top-bar-menus row collapse navbar-collapse" id="navbarNav">

          <!-- Nav bar - Left Side -->
          <div class="col-md-8">

            <div class="row">
              <div class="col-lg-auto">

                <!-- Main Menu -->
                <ul class="pw-main-menu navbar-nav">
                  <li class="pw-main-menu-item">
                    <a class="pw-btn btn waves-effect" style="font-color:black" href="/">Home</a>
                  </li>
                  <li class="pw-main-menu-item">
                    <a class="pw-btn btn waves-effect" href="/services">Powows</a>
                  </li>
                  <li class="pw-main-menu-item">
                    <a class="pw-btn btn waves-effect" href="https://meetings.powow.ca">PowowMeet</a>
                  </li>
                  <%# <li class="pw-main-menu-item">
                      <a class="btn" href="/meetings">Pros</a>
                    </li> %>
                  <% if current_user %>
                  <li class="pw-main-menu-item">
                    <a class="pw-btn btn waves-effect" href="/meetings">Meetings</a>
                  </li>
                  <% end %>
                </ul>

              </div>
              <div class="col-lg-auto">

                <!-- Search form -->
                <%= form_tag(services_path, :method => "get", class: 'pw-main-search') do %>
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], placeholder: "Find a mentor", class: "pw-main-search-input" %>
                  <div class="input-group-btn">
                    <%= button_tag "search", :class => 'pw-btn pw-btn--search btn waves-effect material-icons',:name => nil%>
                  </div>
                </div>
                <% end %>

              </div>
            </div>
          </div>

          <!-- Nav bar - Right Side -->
          <div class="col-md-4">

            <!-- User section -->
            <% if current_user %>
            <div class="pw-user-account-dropdown dropdown">
              <button class="pw-user-account-dropdown-toggle dropdown-toggle pw-btn btn waves-effect" id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <!-- User Name -->
                <span class="pw-user-account-dropdown-toggle-name">Hello, <%= current_user.first_name %></span>

                <!-- User Avatar -->
                <img class="pw-user-account-dropdown-toggle-avatar" src="<%= current_user.linkedin_picture_url%>" alt="avatar">
              </button>
              <ul class="pw-user-account-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="pw-user-account-dropdown-menu-item">
                  <!-- User section - Professional role -->
                  <% if current_user && current_user.role =='pro' %>
                  <a class="dropdown-item pw-btn btn waves-effect" href=<% if current_user.professionals.exists?%><%=service_professional_path(service_id: current_user.professionals.first.service_id, id: current_user.professionals.first.id) %> <%end%>>Do something as a Pro</a>

                  <!-- User section - Client role -->
                  <% elsif  current_user && current_user.role =='client' %>
                  <span class="dropdown-item pw-btn btn waves-effect">Test</span>
                  <% end %>
                </li>
                <li class="pw-user-account-dropdown-menu-item"><%= link_to "Profile", '', class: "dropdown-item pw-btn btn waves-effect" %></li>
                <li class="pw-user-account-dropdown-menu-item pw-user-account-dropdown-menu-item--separator"><%= link_to "Log Out", logout_path, class: "dropdown-item pw-btn btn waves-effect" %></li>
              </ul>
            </div>


            <!-- User section - Not logged in -->
            <%else%>
            <ul class="pw-user-menu navbar-nav">
              <li class="pw-user-menu-item">
                <%= link_to "Become a Mentor", "pro", class: "pw-btn pw-btn--default btn waves-effect" %>
              </li>
              <li class="pw-user-menu-item">
                <%= link_to "Log In", login_path, class: "pw-btn pw-btn--auth btn waves-effect" %>
              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </header>


  <!-- Main Content -->
  <main class="pw-main" role="main">
    <%= yield %>
  </main>


  <!-- Main Footer -->
  <footer class="pw-footer">
    <div class="pw-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <!-- Footer Links -->
            <ul class="pw-footer-menu">
              <li class="pw-footer-menu-item">
                <a class="pw-link" href="mailto:powow.help@gmail.com">Contact us</a>
              </li>
              <li class="pw-footer-menu-item">
                <a class="pw-link" href="">FAQ</a>
              </li>
              <li class="pw-footer-menu-item">
                <a class="pw-link" href="">Cookies Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">

            <!-- Creators message -->
            <blockquote class="pw-footer-creators-msg">
              <p class="pw-footer-creators-msg-desc">Made with love in Ottawa, ON and Seattle, WA</p>
              <p class="pw-footer-creators-msg-title">Powow, CA</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="pw-footer-bottom">

      <!-- Copyright -->
      <small class="pw-footer-copyright">© 2020 Powow</small>
    </div>
  </footer>

</body>

</html>